<p id="notice"><%= notice %></p>
<section class="hero is-dark">
  <div class="hero-body">
    <p class="title is-1">
      <%= @team.name %>
    </p>
    <p class="subtitle">
      <%= link_to @team.web_site, @team.web_site %>
    </p>
      <div class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Conference</p>
      <p class="title"><%= @team.conference %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Division</p>
      <p class="title"><%= @team.division %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Venue</p>
      <p class="title"><%= @team.venue %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Established</p>
      <p class="title"><%= @team.first_year %></p>
    </div>
  </div>

</section>

<div class="columns is-multiline">
  <% @team.players.each do | player |%>
    <div class="card column is-one-third">
      <div class="card-content has-background-grey-light">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://tekrabuilders.com/wp-content/uploads/2018/12/male-placeholder-image.jpeg" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= link_to player.full_name, player %></p>
            <p class="subtitle is-6"><%= player.jersey_number %> | <%= player.position %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<p class="mt-2 mb-2">
  <strong><%= link_to 'Back Home', root_path %></strong>
</p>