<h1 class="mt-3 mb-3">Search Results For: <%= params[:q] %></h1>

<% if @players.empty? %>
  <h1>No Results Found.</h1>
<% else %>
<table class="table is-hoverable is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Full name</th>
      <th>Position</th>
      <th>Position abbreviation</th>
      <th>Jersey number</th>
      <th>Expand</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.full_name, player %></td>
        <td><%= player.position %></td>
        <td><%= player.position_abbreviation %></td>
        <td><%= player.jersey_number %></td>
        <td><%= link_to 'Details', player %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<p class="mt-2 mb-2">
  <strong><%= link_to "Back to players", :back %></strong>
</p>
