<p id="notice"><%= notice %></p>
<h1 class="title is-1 mt-2"><%= @player.full_name %> | <%= @player.position_abbreviation %></h1>
<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Jersey number:</strong>
  <%= @player.jersey_number %>
</p>

<p class="mt-2 mb-2">
  <strong><%= link_to "Back to " + @team.abbreviation, @team %></strong>
</p>